{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

{{- partial "header.html" $ -}}


    {{ if .Data.Term }}
    <h1>Results for tag {{ .Data.Term }}</h1>
       {{- partial "album-card-full.html" . -}}
    {{ else }}
    <h1>Tags</h1>
    <p>💡 Use the "Album" tag to see all available albums.</p>
    {{ end }}
    <div class="clear">&nbsp;</div>
    <nav>
        {{ range .Site.Taxonomies.tags }}
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a>
        {{ end }}
    </nav>

{{ end }}